.pagination {
  margin-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 400;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.pagination .page-num:hover {
  background-color: rgb(42, 42, 42);
  color: rgb(255, 255, 255);
}

.pagination .active {
  background-color: rgb(42, 42, 42);
  color: rgb(255, 255, 255);
}

.pagination .break {
  color: rgb(42, 42, 42);
  cursor: pointer;
  text-decoration: none;
}